@{
    ViewData["Title"] = "Tarefa 2";
}

@section Scripts {
    <script src="~/lib/eModal/dist/eModal.min.js"></script>    
    <script src="~/js/GerarArvore.js"></script>
}

<h3>Digite apenas números inteiros separados por vírgula</h3>
<p>Exemplo: 2,1,4,13,45,34,0,-2,3</p>

<form id="form">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="nome">Entrada</label>
                <input type="text" class="form-control" id="entrada" name="entrada">
            </div>
            <button class="btn btn-primary" id="cadastrar">Gerar Árvore</button>
        </div>
    </div>
</form>

<div id="resultado"></div>